<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple //DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
       <key>items</key>
       <array>
           <dict>
               <key>assets</key>
              <array>
                  <dict>
                      <key>kind</key>
                      <string>software-package</string>
                    <key>url</key>
                     <string>https://paymenttest.bankcomm.com/mmp_UAT/qrcode/dodownload/fa9ac0c9-cbef-4b0c-8378-d5d07a42058d.ios</string>
                  </dict>
              </array>
              <key>metadata</key>
              <dict>
                   <key>bundle-identifier</key>
                   <string>com.1111111111</string>
                   <key>bundle-version</key>
                   <string>81</string>
                   <key>kind</key>
                   <string>software</string>
                   <key>releaseNotes</key>
                   <string>v1test</string>
                   <key>title</key>
                   <string>mdb</string>
              </dict>
           </dict>
       </array>
   </dict>
</plist>